.container{
  display: flex;
  flex-direction: column;
  width: 470px;
  margin: auto;

}
.chat-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat-messages{
  border: 3px solid rgb(198, 227, 255);
  margin: 5px;
  padding: 5px;
  width: 220px;
}

input::placeholder{
  color:	#C0C0C0;
}

.btn {
  background-color: rgb(198, 227, 255);
  margin: 5px;
  padding: 5px;
  border: none;
  width: 100px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(158, 202, 246);
}

.chat-window {
  border: 3px solid rgb(198, 227, 255);
  margin: 5px;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

.chat-window.active {
  border: 3px solid rgb(198, 227, 255);
  margin: 5px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat-window * {
  margin: 5px;
  height: auto;
  width: fit-content;
  border-radius: 8px;
  padding: 8px;
  word-wrap: break-word;
  display: inline-block;
  max-width: 100%;
  clear: both;
}

.user__message {
  align-self: flex-end;
  border: 3px solid rgb(198, 227, 255);
}

.server__message {
  border: 3px solid rgb(198, 227, 255);
}

.map__message, .error__message {
  align-self: flex-end;
  text-align: right;
  border: 3px solid rgb(198, 227, 255);
  text-decoration: none;
  }

